In [ ]:
loops

for---limit range
while--conditions range

In [ ]:
for

In [ ]:
# syntax:

for iterator_varaible in limit(list/tuple/set/dict/varibles):
    statements
    statements

In [ ]:
start with 0
end with limit values---

1
2

1
2
3

2
4
6

In [ ]:
# display all names in one by one

In [1]:
lst_names=["ravi","rajesh","rakesh","ramu","rajini","ragini","param"]

In [2]:
lst_names

['ravi', 'rajesh', 'rakesh', 'ramu', 'rajini', 'ragini']

In [ ]:
the name of the candidate is ravi
the name of the candidate is rajesh
ect...
the name of the trainer is param

In [3]:
for i in lst_names:
    print(i)

ravi
rajesh
rakesh
ramu
rajini
ragini

In [4]:
for name in lst_names:
    print("the name of the candidate is ",name)

the name of the candidate is  ravi
the name of the candidate is  rajesh
the name of the candidate is  rakesh
the name of the candidate is  ramu
the name of the candidate is  rajini
the name of the candidate is  ragini

In [6]:
lst_names=["ravi","rajesh","rakesh","ramu","rajini","ragini","param"]

In [7]:
for name in lst_names:
    print("name value is",name)
    if name=="param":
        print("the name of the trainer is ",name)
    else:
        print("the name of the candidate is ",name)

name value is ravi
the name of the candidate is  ravi
name value is rajesh
the name of the candidate is  rajesh
name value is rakesh
the name of the candidate is  rakesh
name value is ramu
the name of the candidate is  ramu
name value is rajini
the name of the candidate is  rajini
name value is ragini
the name of the candidate is  ragini
name value is param
the name of the trainer is  param