In [ ]:
two types of functions
--inbuilt function
--user defined functions

In [ ]:
syntax:

poisitional -->    
def functionname/function_name(param1/name age,param2/age name,param3,...,paramn):
    statement
    statement1
    statement2
    ..
    statementn
    return return_value
param--variable/(int,floot,str,list,tuple, dict,set,)

In [ ]:
syntax:

poisitional -->    
def functionname/function_name(param1,param2,param3,...,paramn):
    statement
    statement1
    statement2
    ..
    statementn
    return return_value
param--variable/(int,floot,str,list,tuple, dict,set,)

In [ ]:
syntax:

keyword param--->
def functionname/function_name(param1=param1(name='athma'),param2=param2(age=20),param3=param3,...,paramn=paramn):
    statement
    statement1
    statement2
    ..
    statementn
    return return_value
param--variable/(int,floot,str,list,tuple, dict,set,)

In [ ]:
syntax:

keyword param--->
def functionname/function_name(param1=param1,param2=param2,param3=param3,...,paramn=paramn):
    statement
    statement1
    statement2
    ..
    statementn
    return return_value
param--variable/(int,floot,str,list,tuple, dict,set,)

In [ ]:
syntax:
mixed param-->

def functionname/function_name(param1=param1,param2,param3=param3,...,paramn):
    statement
    statement1
    statement2
    ..
    statementn
    return return_value
param--variable/(int,floot,str,list,tuple, dict,set,)

In [ ]:
----> user define function
----->built in function
type(),print()

In [ ]:
-------->user define functions

In [ ]:
add two numbers -->

In [1]:
# function definition----->only one time create 
def addition_p(para1,para2):
    new_param=para1+para2
    return new_param

In [5]:
# provide two parameters ----?
addition_p(10,20) # function calling

30

In [2]:
para1=10
para2=20

In [3]:
new_param=para1+para2

In [4]:
new_param

30

In [6]:
# scenario--2
# add 50,100
addition_p(100,50) # function calling

150

In [ ]:
# scenario -3 
# add 4 number 10,20,30, 40
addition_p(10,20,30,40)
?

In [7]:
para1=10
para2=20

In [8]:
new_param=para1+para2

In [9]:
new_param

30

In [ ]:
answer1--->1

In [ ]:
addition_p(10,20,30,40)

In [ ]:
addition_p(para1,para2)-->parameters not  accept more than given

In [10]:
addition_p(10,20,30,40)

TypeError: addition_p() takes 2 positional arguments but 4 were given

In [ ]:
un limits number addition----?

In [ ]:
int/list

In [ ]:
[10,20,30]
[20,30,40,70,60]

In [ ]:
sum(variable/int/tuple/list)

In [11]:
sum(10,20)

TypeError: 'int' object is not iterable

In [12]:
sum([10,20])

30

In [13]:
sum([10,20,30,40,50])

150

In [ ]:
inbuilt + user define

In [14]:
def addition_p1(param):
    new_sum=sum(param)
    return new_sum

In [15]:
addition_p1([10,20,30])

60

In [16]:
addition_p1(10,20)

TypeError: addition_p1() takes 1 positional argument but 2 were given

In [17]:
# function adding numbers 2 numbers
def addition_v2(param1,param2):
    add_p=param1+param2
    sub_p=param1-param1
    return add_p

In [19]:
# function adding numbers 2 numbers
def addition_v2(param1,param2):
    add_p=param1+param2
    sub_p=param1-param1

In [20]:
addition_v2(10,20)

In [23]:
# function adding numbers 2 numbers
def addition_v2(param1,param2):
    add_p=param1+param2
    print(" addition of",param1," and ",param2 ,":->",add_p )
    sub_p=param1-param2
    print(" subtraction of",param1," and ",param2 ,":->",sub_p )

In [24]:
addition_v2(10,20)

 addition of 10  and  20 :-> 30
 subtraction of 10  and  20 :-> -10

In [25]:
# function adding numbers 2 numbers
def addition_v2(param1,param2):
    add_p=param1+param2
    print(" addition of",param1," and ",param2 ,":->",add_p )
    sub_p=abs(param1-param2)
    print(" subtraction of",param1," and ",param2 ,":->",sub_p )

In [26]:
addition_v2(10,20)

 addition of 10  and  20 :-> 30
 subtraction of 10  and  20 :-> 10

In [ ]:
retails--->

marts---->jio mart, reliance mart
products-----> food, groceries, drinks, vegitables

In [ ]:
each mart wise display  all product--->

In [6]:
marts=["jio mart","reliance mart"]
products=["food", "groceries", "drinks", "vegitables"]

In [2]:
marts

['jio mart', 'reliance mart']

In [3]:
products

['food', 'groceries', 'drinks', 'vegitables']

In [8]:
for mart in marts:
    print("*****this is the********", mart)
    for prd in products:
        print("------>product details",prd)

*****this is the******** jio mart
------>product details food
------>product details groceries
------>product details drinks
------>product details vegitables
*****this is the******** reliance mart
------>product details food
------>product details groceries
------>product details drinks
------>product details vegitables

In [9]:
# function definition-----------
def mart_product(marts,products):    
    for mart in marts:
        print("*****this is the********", mart)
        for prd in products:
            print("------>product details",prd)

In [10]:
marts=["jio mart","reliance mart"]
products=["food", "groceries", "drinks", "vegitables"]

In [11]:
mart_product(marts,products)

*****this is the******** jio mart
------>product details food
------>product details groceries
------>product details drinks
------>product details vegitables
*****this is the******** reliance mart
------>product details food
------>product details groceries
------>product details drinks
------>product details vegitables

In [12]:
# function definition-----------
def mart_product_v1(param1,param2):    
    for mart in param1:
        print("*****this is the********", mart)
        for prd in param2:
            print("------>product details",prd)

In [ ]:
marts=["jio mart","reliance mart"]
products=["food", "groceries", "drinks", "vegitables"]

In [13]:
mart_product_v1(["jio mart","reliance mart"],["food", "groceries", "drinks", "vegitables"])

*****this is the******** jio mart
------>product details food
------>product details groceries
------>product details drinks
------>product details vegitables
*****this is the******** reliance mart
------>product details food
------>product details groceries
------>product details drinks
------>product details vegitables

In [14]:
mart_product_v1(["jio mart","reliance mart","d mart"],["food", "groceries", "drinks", "vegitables"])

*****this is the******** jio mart
------>product details food
------>product details groceries
------>product details drinks
------>product details vegitables
*****this is the******** reliance mart
------>product details food
------>product details groceries
------>product details drinks
------>product details vegitables
*****this is the******** d mart
------>product details food
------>product details groceries
------>product details drinks
------>product details vegitables

In [15]:
mart_product_v1(["jio mart","reliance mart","d mart","p -mart"],["food", "groceries", "drinks", "vegitables"])

*****this is the******** jio mart
------>product details food
------>product details groceries
------>product details drinks
------>product details vegitables
*****this is the******** reliance mart
------>product details food
------>product details groceries
------>product details drinks
------>product details vegitables
*****this is the******** d mart
------>product details food
------>product details groceries
------>product details drinks
------>product details vegitables
*****this is the******** p -mart
------>product details food
------>product details groceries
------>product details drinks
------>product details vegitables

In [ ]:
-------functions

marts
products
percentages/offered rates

logic


--->input parameter
--->logic
---->output /return value

In [17]:
# function definition-----------
def mart_product_v2(param1,param2):    
    for mart in martsnew:
        print("*****this is the********", mart)
        for prd in productsnew:
            print("------>product details",prd)

In [18]:
mart_product_v2(["jio mart","reliance mart","d mart","p -mart"],["food", "groceries", "drinks", "vegitables"])

NameError: name 'martsnew' is not defined

In [ ]:
main application---with function

In [ ]:
online tt--->
subject--> maths,stats, comp scn
online tt--avialbe display
other tt-->not available
maths-->
-----> concepts--->add,sub,mul 
online tt--add avaia, sub avial
other con-->not available

testing--> chapter----->10,20 
output
input wrong



subject="maths/stats/computer science"
maths
concepts="add/sub/mul"
parameter/variable/testing 
add
 two parameter
stats
concepts="min/max"
min
two/three
computer science
concepts="basic computer/data science/data engineering"
basic computer 
ms office ms excel

module /substraction/parts and pieces

dev-1(.ipynb)
maths
subjects
concepts
function

dev-2(.ipynb)
stats
subjects
concepts
function

dev-3(.ipynb)(.py)
computer science
subjects
concepts
function

dev-4(.ipynb)
main----->
available subjects
concepts
parameter pass funcitons